
/*Carrousel Menu*/

/*Shadow technology*/
.container-tech ,.tech-html,.tech-css,.tech-js,.tech-jqerry{
    cursor: pointer;
}
img:hover{
    transition-duration: 0.5s;
    transition-delay: 2ms;
    transition-timing-function: ease-in-out;

}
.tech-html img:hover{
    filter: drop-shadow(0.25em 0.5em 3em #E65100);
}
.tech-css img:hover{
    filter: drop-shadow(0.25em 0.5em 3em #0277BD);
}
.tech-js img:hover{
    filter: drop-shadow(0.25em 0.5em 3em #E2E60F);
}
.tech-jqerry img:hover{
    filter: drop-shadow(0.25em 0.5em 3em #146DBB);
}
